
body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(9, 9, 26);
}
/*video{
    
    border: 4px solid rgb(243, 7, 7);
}*/
canvas{
    position: absolute;
}