body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0a192f;
}
h1{
    color: #ccd6f6;
    text-align: center;
}
canvas{
    border: 6px solid #64ffda;
}
